body {
    margin:0;
    padding:0;
    width:100%;
    height:100vh;

    background-color: #222;
    background-image: url("https://cdn0-production-images-kly.akamaized.net/yQAyKyZ_-ALHAdBm7JM-vmZ3eeI=/1280x720/smart/filters:quality(75):strip_icc()/kly-media-production/medias/1195142/original/031631000_1459997462-wonderful_indonesia.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}
.container {
    width: 70%;
    margin: 100px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
h1 {
    color: white;
    font-size: 36px;
    text-align: center;
    text-decoration: underline;
}
p {
    color: #f2f2f2;
    font-size: 18px;
    text-align: justify;
}